# Node.js
**/node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# React build
**/build/
**/dist/
*.log

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# Strapi specific
**/.tmp
**/build

# OS-specific files
.DS_Store
Thumbs.db

# Editor specific files
.vscode/
.idea/

# Logs and temp files
*.log
*.tmp

# Coverage directory for Jest tests
coverage/

# Dependency directories
bower_components/
jspm_packages/

# npm package lock files if not needed
package-lock.json
yarn.lock

# Docker related
.docker/

# AWS, GCP, or other cloud service credentials
*.pem
*.key
